/* Coolors Exported Palette - coolors.co/7e3a27-e83a27-dbb755-ebb27f-f2f2f2 */

$color1: #7e3a27; //rgba(126, 58, 39, 100)
$color2: #e83a27; //rgba(232, 58, 39, 100)
$color3: #dbb755; //rgba(219, 183, 85, 100)
$color4: #ebb27f; //rgba(235, 178, 127, 100)
$color5: #f2f2f2; //rgba(242, 242, 242, 100)